In [1]:
import pandas as pd

### ANALYSIS OF MTA SUBWAY AND WEATHER ###

In [3]:
cust_metrics = pd.read_csv('data/MTA_Subway_Customer_Metrics_2020-2024.csv')

In [4]:
cust_metrics.head()

,month,division,line,period,num_passengers,additional platform time,additional train time,total_apt,total_att,over_five_mins,over_five_mins_perc,customer journey time performance
0,2024-12-01,A DIVISION,1,offpeak,5034590.0,0.962958,0.738045,4848099.5,3715755.0,643165.40,0.127749,0.872251
1,2024-12-01,A DIVISION,1,peak,5552918.0,1.020276,0.662142,5665509.0,3676820.8,624175.44,0.112405,0.887595
2,2024-12-01,A DIVISION,2,offpeak,3078700.2,1.425670,0.726788,4389210.5,2237562.2,555590.80,0.180463,0.819537
3,2024-12-01,A DIVISION,2,peak,3672602.5,1.147720,0.448690,4215117.5,1647861.6,483096.44,0.131541,0.868459
4,2024-12-01,A DIVISION,3,offpeak,2344247.5,0.984354,0.456582,2307569.0,1070340.6,293768.30,0.125315,0.874685

In [5]:
weather_A_df = pd.read_csv('data/Jan_2020-Dec_2022_weather.csv')
weather_B_df = pd.read_csv('data/Jan_2023-Dec_2024_weather.csv')

In [6]:
weather_A_df.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CDSD,DSND,DSNW,EMNT,...,HDSD,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5
0,US1NJUN0028,40.708904,-74.321518,37.5,2020-01,NaN,NaN,NaN,NaN,NaN,...,NaN,2.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NJUN0028,40.708904,-74.321518,37.5,2020-02,NaN,NaN,NaN,NaN,NaN,...,NaN,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NJUN0028,40.708904,-74.321518,37.5,2020-03,NaN,NaN,NaN,NaN,NaN,...,NaN,4.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NJUN0028,40.708904,-74.321518,37.5,2020-04,NaN,NaN,NaN,NaN,NaN,...,NaN,4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NJUN0028,40.708904,-74.321518,37.5,2020-05,NaN,NaN,NaN,NaN,NaN,...,NaN,2.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
weather_B_df.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CDSD,DSND,DSNW,EMNT,...,HDSD,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5
0,US1NJUN0028,40.708904,-74.321518,37.5,2023-01,NaN,NaN,NaN,NaN,NaN,...,NaN,5.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NJUN0028,40.708904,-74.321518,37.5,2023-02,NaN,NaN,NaN,NaN,NaN,...,NaN,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NJUN0028,40.708904,-74.321518,37.5,2023-03,NaN,NaN,NaN,NaN,NaN,...,NaN,3.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NJUN0028,40.708904,-74.321518,37.5,2023-04,NaN,NaN,NaN,NaN,NaN,...,NaN,5.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NJUN0028,40.708904,-74.321518,37.5,2023-05,NaN,NaN,NaN,NaN,NaN,...,NaN,4.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
weather_df = pd.concat([weather_A_df, weather_B_df])
weather_df.shape

(4847, 24)

In [12]:
weather_df.drop(['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION'], axis=1, inplace=True)
weather_df.shape

KeyError: "['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION'] not found in axis"

In [19]:
weather_df.isnull().sum()

DATE       0
AWND    4369
CDSD    4007
DSND    3583
DSNW    3375
EMNT    3973
EMSD    3583
EMSN    3375
EMXP     328
EMXT    3973
HDSD    4006
PRCP      19
SNOW    3375
TAVG    3973
TMAX    3973
TMIN    3973
WDF2    4375
WDF5    4375
WSF2    4375
WSF5    4375
dtype: int64

In [20]:
weather_df.drop(['AWND', 'CDSD', 'DSNW', 'EMSD', 'EMSN', 'HDSD', 'WDF2', 'WDF5', 'WSF2', 'WSF5'], axis=1, inplace=True)
weather_df.head()

      DATE  DSND  EMNT  EMXP  EMXT  PRCP  SNOW  TAVG  TMAX  TMIN
0  2020-01   NaN   NaN  1.29   NaN  2.11   NaN   NaN   NaN   NaN
1  2020-02   NaN   NaN  0.59   NaN  3.15   NaN   NaN   NaN   NaN
2  2020-03   NaN   NaN  1.09   NaN  4.03   NaN   NaN   NaN   NaN
3  2020-04   NaN   NaN  0.95   NaN  4.14   NaN   NaN   NaN   NaN
4  2020-05   NaN   NaN  0.59   NaN  2.64   NaN   NaN   NaN   NaN

In [ ]:
weather = weather_df.rename(columns={'DSND':'days_snow_on_ground', 'EMNT':'extreme_min_temp', 'EMXP':'extreme_max_precip','EMXT':'extreme_max_temp','PRCP':'precip','SNOW':'snow','TAVG':'avg_temp','TMAX':'max_temp','TMIN':'min_temp'})
weather.isnull().sum()

DATE                      0
days_snow_on_ground    3583
extreme_min_temp       3973
extreme_max_precip      328
extreme_max_temp       3973
precip                   19
snow                   3375
avg_temp               3973
max_temp               3973
min_temp               3973
dtype: int64

In [27]:
weather[weather['days_snow_on_ground'].notnull()]

,DATE,days_snow_on_ground,extreme_min_temp,extreme_max_precip,extreme_max_temp,precip,snow,avg_temp,max_temp,min_temp
30,2020-01,1.0,20.0,0.88,70.0,1.67,2.7,38.7,46.2,31.3
31,2020-02,0.0,12.0,0.62,62.0,2.60,0.0,40.0,47.5,32.6
32,2020-03,0.0,24.0,1.13,80.0,3.76,0.0,47.9,56.0,39.8
33,2020-04,0.0,32.0,1.69,69.0,3.80,0.0,50.3,58.5,42.0
34,2020-05,0.0,34.0,0.79,86.0,1.66,0.0,60.8,70.4,51.3
...,...,...,...,...,...,...,...,...,...,...
1911,2024-11,0.0,28.0,1.03,80.0,3.00,0.0,47.5,57.5,37.5
1912,2024-12,5.0,4.0,1.06,62.0,4.44,1.0,32.5,40.5,24.5
1922,2023-02,1.0,NaN,0.56,NaN,1.87,2.8,NaN,NaN,NaN
1923,2023-03,1.0,NaN,1.40,NaN,4.30,0.2,NaN,NaN,NaN
1924,2023-04,0.0,NaN,2.12,NaN,5.45,0.0,NaN,NaN,NaN