In [2]:
import pandas as pd

### ANALYSIS OF MTA SUBWAY JUPYTER NOTEBOOK ###

In [4]:
trip_updates = pd.read_csv('data/trip_updates.csv')
vehicle_pos = pd.read_csv('data/vehicle_pos.csv')

In [5]:
trip_updates.head()

,Unnamed: 0,trip_id,stop_sequence,arrival_time,departure_time,stop_id
0,0,056200_A..N55R,0,1747667226,1747667226,A06N
1,1,056200_A..N55R,0,1747667297,1747667297,A05N
2,2,056200_A..N55R,0,1747667492,1747667492,A03N
3,3,056200_A..N55R,0,1747667657,1747667657,A02N
4,4,056700_A..S58R,0,1747667231,1747667231,H04S